h1 {
  margin-bottom: 60px;
  style="text-decoration: underline;">
}
h2 {
  margin-top: 120px;
  style="text-decoration: underline;"
}

body {
  background-color: antiquewhite;
  text-align:center;
  padding:40px;
  margin: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
  margin: 20px;
  padding: 18px 26px;
  border: cadetblue 2px solid;
  border-radius: 8px;
 display: table;
 margin: auto;
 color: blue;
 
}

p {
  margin-top: 65px;
  font-size: 18px;

}
